<h2>Awesome</h2>
<h4>Now just copy your Bylder profile Link and add it to your LinkedIn header or summary.</h4>

<p><%= link_to(current_user.linkedin_url) %></p>
<p><%= "www.bylder.net/profiles/#{current_user.profile_uri}" %></p>