<div class="row">
	<div class="col-xs-6">
		<h2>Awesome</h2>
	</div>
	<div class="col-xs-6">
			
	</div>
</div>

<h4>Step 1: Copy Text Below</h4>
<p><%= "Recruiters contact me at www.bylder.net/profiles/#{current_user.profile_uri}" %></p>
<br>
<h4>Step 2: Paste to LinkedIn Summary</h4>
<p><%= link_to(current_user.linkedin_url, "#{current_user.linkedin_url}", :target => "_blank") %></p>
<%= image_tag("LinkedInInstructions.png", class: "img-responsive")%><br>
<h4>Step 3: View Your Profile</h4>
<p><%= link_to "View Profile", profile_path(current_user.profile), class: "button button-small" %></p>