<div class="row">
	<div class="col-md-12">
		<div class="form-group">
			<h2>Edit Profile</h2>
		</div>
	</div>
	<section id="edit-profile">
		<div class="col-md-2">
			<div class="form-group">
				<% if current_user.profile.image.present? %>
					<%= image_tag(current_user.profile.image, class: "img-circle", width: "100px", height: "100px") %>
				<% else %>
					<%= image_tag(current_user.linkedin_photo_url, class: "img-circle", width: "100px", height: "100px") %>
				<% end %>
			</div>
		</div>
		<div class="col-md-10">
			<%= render 'form' %>
			<%= link_to "View Profile", @profile %>
		</div>
	</section>
</div> <!-- close row -->





