<div class="row">
	<div class="col-md-8">
		<section id="complete-profile">
			<div class="box">
				<h2>Tell us about yourself</h2>
				<%= render 'form' %>
			</div>
		</section>
		
	</div>
	<div class="col-md-4">
		<div class="box-side">
			<div class="col-md-2">
				<h3 class="glyphicon glyphicon-search" aria-hidden="true"></h3>
			</div>
			<div class="col-md-10">
				<h3>Some Section Title</h3>
				<p>Mentor less experienced by the by the developers by answering questions and doing code reviews online via code/screen sharing, video, and text.</p>
			</div>
			<div class="col-md-2">
				<h3 class="glyphicon glyphicon-search" aria-hidden="true"></h3>
			</div>
			<div class="col-md-10">
				<h3>Some Section Title</h3>
				<p>Mentor less experienced by the by the developers by answering questions and doing code reviews online via code/screen sharing, video, and text.</p>
			</div>
		</div>
	</div>
</div>








