<div class="center">
  <h2>Your Purchase History</h2>
</div><br>


<table class="table table-hover">
  <thead>
    <tr>
      <th class="center">Designer Name</th>
      <th class="center">Price</th>
      <th class="center">Order Date</th>
      <th class="center">Order Number</th>
    </tr>
  </thead>

  <% @orders.each do |order| %>
    <tbody>
      <tr>
        <td class="center"><%= "#{order.seller.first_name} #{order.seller.last_name}" %></td>
        <td class="center"><%= number_to_currency(order.profile.price) %></td>
        <td class="center"><%= order.created_at.strftime("%B %-d, %Y") %></td>
        <td class="center"><%= order.id %></td>
      </tr>
    </tbody>
  <% end %>
</table>