<div id="second-option">
    <div class="container">
      <div class="row center">
        <h2 class="global-h2">How it works</h2>
      </div>
      <div class="row center">
        <div class="col-md-4 feature">
          <%= image_tag "icons/circle-icons/one-color/dev.png" %>
          <h4 class="global-h4">Find</h4>
          <p>With some customization you can make this product apply to your branding guidelines and amaze your customers at the same time.</p>
        </div>
        <div class="col-md-4 feature">
          <%= image_tag "icons/circle-icons/one-color/dev.png" %>
          <h4 class="global-h4">Hire</h4>
          <p>With some customization you can make this product apply to your branding guidelines and amaze your customers at the same time.</p>
        </div>
        <div class="col-md-4 feature">
          <%= image_tag "icons/circle-icons/one-color/dev.png" %>
          <h4 class="global-h4">Meet</h4>
          <p>We don't impose any design restrictions, you are free to customize it as you see fit and it's easy to use.</p>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="row">
  	<div class="col-md-4">
  		<div class="center">
  			<h1>Hello World Here Comes Another Awesome </h1>
  			<p>Hello World</p>
  			<p>We don't impose any design restrictions, you are free to customize it as you see fit and it's easy to use.</p>
  		</div>
  	</div>
  </div>