<body id="profile">
	<div id="profile">
		<div class="row">
			<div class="col-md-7 col-md-offset-1"> <!-- Left side of page -->
				<div class="row">
					<div class="col-md-2">
						<%= image_tag "feature1.png", class: "avatar img-circle", size: "80x80" %>
					</div>
					<div class="col-md-10">
						<h1>Omar Amiri</h1>
						<h3>User Experience Designer at Apple</h3>
						<h4>Los Angeles, California</h4>
						<h5>Link to portfolio: www.omaramiri.com</h5>
						<h5>Link to LinkedIn: www.linkedin.com/omar-amiri-12312</h5>
					</div> <!-- close md-10 -->
				</div> <!-- close row -->
				<section id="about-me">
					<div class="row">
					<div class="col-md-12">
						<label for="About Me">About Me</label>
						<p>There are various test routing and account numbers you can use to trigger certain events. These can only be used with test secret keys. When creating test transfers, you must use a test account number but you can use any valid US routing number.</p>
					</div> <!-- close md-12 -->
				</div> <!-- close row -->
				<div class="row">
					<div class="col-md-12">
						<label for="About Me">About Me</label>
						<p>There are various test routing and account numbers you can use to trigger certain events. These can only be used with test secret keys. When creating test transfers, you must use a test account number but you can use any valid US routing number.</p>
					</div> <!-- close md-12 -->
				</div> <!-- close row -->
				</section>
			</div> <!-- close left side of the page -->
			<div class="col-md-3"> <!-- right side of the page  -->
				<div class="row">
					<div class="center">
						<button class="button btn-70">Hire Me</button>
						<h5>or</h5>
						<button class="btn btn-link">Send Me a Message</button>
					</div> <!-- close center -->
				</div> <!-- close row -->
				<div class="row">
					<div class="center">
						<h2>$100/Hour<br></h2>
					</div> <!-- close center -->
				</div> <!-- close row -->
			</div> <!-- close right side of page -->
		</div> <!-- close row -->
	</div>
</body>
